#game-menu {
    margin: 20px;
    text-align: center;
}

#game-menu button {
    margin: 4px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #823ef6;
    color: white;
    border: none;
    border-radius: 5px;
}

#game-menu button:hover {
    background-color: #452879;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10px;
    min-width: 600px;
}
